<!DOCTYPE html>
<html lang="es"> <!-- Recuerda que por cada vista, se coordina el lenguaje en español -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SwitBy | Home</title>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>

    <%- include('../partials/header') %> <!-- Incluimos el header -->

    <section id="perfil-publicaciones" class="d-flex justify-content-between align-items-center p-2 my-0 border-dark border-3 bg-light">
        
        <a href="#" class="btn btn-outline-dark text-start fw-bold">
            Buscar
        </a>

        <div class="d-flex gap-2">
            
            <a href="/createPost" class="btn btn-outline-dark fw-bold">
                Crear
            </a>
            
            <a href="#" class="btn btn-outline-dark fw-bold">
                Perfil
            </a>
        </div>
    </section>

    <div id="tuperfil" class="row g-0 d-flex min-vh-100">
        
        <section id="perfil-opc" class="col-12 col-md-3 p-0">
            
            <div id="perfil-opc-in" class="list-group list-group-flush">
                <a href="#" class="perfil-item list-group-item fw-bold w-100 text-black">Amigos</a>
                <a href="#" class="perfil-item list-group-item fw-bold w-100 text-black">Categorias</a>
                <a href="#" class="perfil-item list-group-item fw-bold w-100 text-black">Temas</a>
                <a href="#" class="perfil-item list-group-item fw-bold w-100 text-black">Mensajes</a>
            </div>
            
        </section>

        <section id="perfil-feed" class="col-12 col-md-9 p-3 bg-light">
            
            <h4 class="mb-3">Tu Feed:</h4>

            <% if (posts)  { %>
                <% posts.forEach(function(post) { %>
            
                    <div class="card mb-3">
                        <div class="card-body">
                            <div>
                                <h1 class="h4 card-title mb-0 fw-bold"><%- post.name %></h1>
                                <% if (post.user_id == user.id) { %> <!-- esto es provisional para probar validaciones para que no se puedan borrar posts de otras personas xd -->
                                    <div class="dropdown" id="post-functions">
                                    <a
                                        href="#"
                                        class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
                                        data-bs-toggle="dropdown"
                                        aria-expanded="false"
                                    >
                                        ... <!-- poner aqui el icono de los 3 puntos en vertical -->
                                    </a>
                                    <ul class="dropdown-menu text-small">
                                        <li><a class="dropdown-item" href="#">Editar</a></li>
                                        <li><a class="dropdown-item" href="#">Eliminar</a></li>
                                    </ul>
                                </div>
                                <% } %>
                            </div>
                            <div class="d-flex justify-content-between mb-2">
                                <h2 class="h5 card-title mb-0 fw-bold"><%- post.title %></h2>
                                <p class="text-muted small mb-0"><%- post.creationDate %></p>
                            </div>
                            <p class="card-text">
                                <%- post.content %>
                            </p>
                        </div>
                    </div>

                <% }); %>

            <% } else { %>

                <div>
                    
                    <h2>Vacio</h2>

                </div>

            <% } %>

        <!-- En el futuro, cuando tengamos datos circulando desde los posteos, haremos un solo div de post, con un ciclo for, ya que tendrá un backend ejecutando consultas a la base de datos-->
        </section>
    </div>

    <script src="/js/bootstrap.bundle.min.js"></script>
    
</body>
</html>